doctype

html(lang="ru")

  -var active = 'Категория' //активный пункт меню, список в header.jade
  -var pageTitle = 'Категория' + ' - Masuma' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    // Content
    .content.content--inside
      .container
        +breadcrumbs

        .search
          +searchBody

        .category__wrapper
          .category__about
            div
              .category__about-name.d-md-none комплекты сцепления
              img(src="./tmp/category-img.png", alt="").category__about-img
            div
              .category__about-name.d-none.d-md-block комплекты сцепления
              .category__about-content
                .category__about-h2 Расчетный ресурс комплектов сцепления Finwhaile:
                ul
                  li не менее 100 000 км. пробега
                  li жаростойкость более 900 оС
                  li качество согласно стандарта ISO 9999
              .category__advantages
                div
                  .category__advantages-block
                    img(src="./images/category-advantage-1.svg", alt="")
                    div Уверенный и надежный старт
                div
                  .category__advantages-block
                    img(src="./images/category-advantage-2.svg", alt="")
                    div Износостойкие фрикционные материалы
                div
                  .category__advantages-block
                    img(src="./images/category-advantage-3.svg", alt="")
                    div Комфортное управление

          ul.category__list
            li.active
              a(href="#!") 
                img(src="./tmp/category-list-1.png", alt="")
                span Диски сцепления
            li
              a(href="#!") 
                img(src="./tmp/category-list-2.png", alt="")
                span Комплекты сцепления

          .category__table
            .category__table-wrapper
              table
                thead
                  tr
                    th фото
                    th(align="left") производитель (артикул)
                    th(align="left") название
                    th(align="right") инфо
                    th(align="center") срок
                    th(align="right") наличие
                    th склад
                    th(align="right") цена
                    th(align="right") доставка
                    th 
                    th 
                tbody
                  tr
                    td
                      img(src="./tmp/category-list-1.png", width="36" alt="")
                    td(align="left")
                      .category__table-auto Toyota 
                        span (13565434313)
                    td(align="left")
                      a(href="#!").category__table-title Диск сцепления
                    td(align="right") Новый
                    td(align="center")
                      .category__table-term 8/9
                    td(align="right") 10
                    td(align="center")
                      img(src="./tmp/flag-1.png", alt="")
                    td(align="right") 333.10 грн
                    td(align="right") 36.55 грн
                    td(align="center")
                      input.category__table-number(type="text" value="12")
                    td(align="center")
                      a(href="#!").category__table-cart
                        img(src="./images/icon-cart.svg" width="20" alt="")
                  tr
                    td
                      img(src="./tmp/category-list-1.png", width="36" alt="")
                    td(align="left")
                      .category__table-auto Toyota 
                        span (13565434313)
                    td(align="left")
                      a(href="#!").category__table-title Диск сцепления
                    td(align="right") Не очень новый
                    td(align="center")
                      .category__table-term 3/4
                    td(align="right") 10
                    td(align="center")
                      img(src="./tmp/flag-2.png", alt="")
                    td(align="right") 993.10 грн
                    td(align="right") 36.55 грн
                    td(align="center")
                      input.category__table-number(type="text" value="12")
                    td(align="center")
                      a(href="#!").category__table-cart
                        img(src="./images/icon-cart.svg" width="20" alt="")
                  tr
                    td
                      img(src="./tmp/category-list-1.png", width="36" alt="")
                    td(align="left")
                      .category__table-auto Toyota 
                        span (13565434313)
                    td(align="left")
                      a(href="#!").category__table-title Диск сцепления
                    td(align="right") Новый
                    td(align="center")
                      .category__table-term 8/9
                    td(align="right") 10
                    td(align="center")
                      img(src="./tmp/flag-2.png", alt="")
                    td(align="right") 100.10 грн
                    td(align="right") 36.55 грн
                    td(align="center")
                      input.category__table-number(type="text" value="12")
                    td(align="center")
                      a(href="#!").category__table-cart
                        img(src="./images/icon-cart.svg" width="20" alt="")

        // Seo
        .seo.j-seo
          .seo__document
            .seo__title О комплектах сцепления
            .seo__wrapper
              p Японская торгово-производственная компания MASUMA була основана в 2001 г.., В городе Токио. Идея пролегал в том, чтобы объединить и выпускать основные инструменты и запчасти под Единственным товарным знаком и сделать их доступной по цене альтернативой дорогим оригинальным запчасти. Именно вырабатывать, а не просто упаковывать в свою коробку.
              p Сегодня компания MASUMA размещает заказ на изготовление деталей под собственным брендом на 80 заводах - производитель запчастей. Сейчас Это уже 45 групп товара и около 8000 наименований. Ежегодно вводиться до 500 Новых позиц и 2-3 Новые группы. В этом году список товаров пополнился гальмивними дисками и ступинчатими Узлы.
              p Сегодня компания MASUMA размещает заказ на изготовление деталей под собственным брендом на 80 заводах - производитель запчастей. Сейчас Это уже 45 групп товара и около 8000 наименований. Ежегодно вводиться до 500 Новых позиц и 2-3 Новые группы. В этом году список товаров пополнился гальмивними дисками и ступинчатими Узлы.
              p Японская торгово-производственная компания MASUMA була основана в 2001 г.., В городе Токио. Идея пролегал в том, чтобы объединить и выпускать основные инструменты и запчасти под Единственным товарным знаком и сделать их доступной по цене альтернативой дорогим оригинальным запчасти. Именно вырабатывать, а не просто упаковывать в свою коробку.

    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")