doctype

html(lang="ru")

  -var active = 'Контакты' //активный пункт меню, список в header.jade
  -var pageTitle = 'Контакты' + ' - Masuma' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header      

    // Content
    .content.content--inside
      .container
        +breadcrumbs

        .search
          +searchBody

      // Map contact
      .section.map-contact
        .container
          .main-map__tab.main-map__tab--inside
            .main-map__office.main-map__office--inside
              .main-map__office-title Штаб-квартира MASUMA по оптовой продаже:
              .main-map__office-address г.Киев, ул. Марко Вовчок, 12/14
              p +380 98 765 43 21
                br
                | +380 66 765 43 21  
                span(style="color: #777777; font-size: 14px;") (Telegram & Viber)
              p
                a(href="#!") info@site_name.pro
        .map__wrapper
          img(src="./images/map-logo.png", alt="").map__wrapper-logo
          img(src="./tmp/main-map-bottom-1.png", alt="")
    
      // Buy
      .section.buy
        .container
          
          .row
            .col-md-4
              .buy__info
                .buy__info-title Где купить ритейл
                p Вы можете купить продукты Masuma торговой марки у наших региональных дилеров (оптовые поставки), в партнерских магазинах (розничные продажи) или в фирменных магазинах Masuma (розничные продажи).
                .buy__info-info В выбранном регионе 
                  br
                  span.span 2 магазина 
                  | и 
                  span.span 1 СТО
            .col-md-4
              .form-group.form-group--buy
                label.form-label.form-label--big Выберите регион:
                .select-custom.select-custom--buy
                  select(name="select6" size="8")
                    option(value="") Закарпатская область
                    option(value="") Запорожская область
                    option(value="") Кировоград область
                    option(value="") Киевская область
                    option(value="") Крым
                    option(value="") Луганская область
                    option(value="") Львовская область
                    option(value="") Мыколавская область
                    option(value="") Запорожская область
                    option(value="") Кировоград область
                    option(value="") Киевская область
                    option(value="") Крым
                    option(value="") Луганская область
                    option(value="") Львовская область
                    option(value="") Мыколавская область
            .col-md-4
              .form-group.form-group--buy
                label.form-label.form-label--big Выберите город:
                .select-custom.select-custom--buy
                  select(name="select7" size="8")
                    option(value="") Ирпень
                    option(value="") Вышгород
                    option(value="") Бровары
                    option(value="") Киев
                    option(value="") Обухов
                    option(value="") Вишневое
                    option(value="") Борисполь
                    option(value="") Буча
                    option(value="") Вышгород
                    option(value="") Бровары
                    option(value="") Киев
                    option(value="") Обухов
                    option(value="") Вишневое
                    option(value="") Борисполь
                    option(value="") Буча

          .buy__result
            .row
              .col-lg-4.col-md-6
                .buy__block
                  .buy__block-label МАГАЗИН
                  .buy__block-title Япония авто
                  p
                    i.ion-ios-location
                    | Киев, ринг Дороха ул. Садова, 70 Киев, ринг Дороха ул. Садова, 70
                  p 
                    i.ion-earth
                    a(href="#!") www.masuma.kiev.ua
                  p
                    i.ion-android-call
                    a(href="tel:") + 380958653229 Николай
                  p
                    i.ion-android-drafts
                    a(href="mailto:") japan-auto_bumer@ukr.net
              .col-lg-4.col-md-6
                .buy__block
                  .buy__block-label сто
                  .buy__block-title Япония авто
                  p
                    i.ion-ios-location
                    | Киев, ринг Дороха ул. Садова, 70 Киев, ринг Дороха ул. Садова, 70
                  p 
                    i.ion-earth
                    a(href="#!") www.masuma.kiev.ua
                  p
                    i.ion-android-call
                    a(href="tel:") + 380958653229 Николай
                  p
                    i.ion-android-drafts
                    a(href="mailto:") japan-auto_bumer@ukr.net
              .col-lg-4.col-md-6
                .buy__block
                  .buy__block-label МАГАЗИН
                  .buy__block-title Япония авто
                  p
                    i.ion-ios-location
                    | Киев, ринг Дороха ул. Садова, 70 Киев, ринг Дороха ул. Садова, 70
                  p 
                    i.ion-earth
                    a(href="#!") www.masuma.kiev.ua
                  p
                    i.ion-android-call
                    a(href="tel:") + 380958653229 Николай
                  p
                    i.ion-android-drafts
                    a(href="mailto:") japan-auto_bumer@ukr.net

      .map-contact2
        .map__wrapper
          .map__wrapper-marker
            img(src="./images/map-icon.png", alt="")
            .map__wrapper-modal.is-active
              .map__wrapper-modal-title ooo “евроавтоконсалтинг”
              .map__wrapper-modal-address г.Киев, ул. Петра Горошенка, 12/1
              p
                a(href="tel:") +380 98 765 43 21
                br
                a(href="tel:") +380 66 765 43 21
              p
                a(href="mailto:") www.euro1autoco.pro
          img(src="./tmp/main-map-bottom-1.png", alt="")

      // About
      .section.about
        .container

          .row
            .col-md-6
              .section__head
                .h1.nowrap-md Задать вопрос
                .small.nowrap-md // Вопрос можете задать через форму справа.

              .about__row
                .row
                  .col-lg-6.col-md-12.col-sm-6.col-12
                    .about__block.about__block--1
                      div
                        img(src="./images/img-about-1.svg", alt="")
                      div
                        p Мы ответим на все ваши вопросы о продукции 
                  .col-lg-6.col-md-12.col-sm-6.col-12
                    .about__block.about__block--2
                      div
                        img(src="./images/img-about-2.svg", alt="")
                      div
                        p Поможем в формировании заказа 
                  .col-lg-6.col-md-12.col-sm-6.col-12
                    .about__block.about__block--3
                      div
                        img(src="./images/img-about-3.svg", alt="")
                      div
                        p Вы сможете работать с дистрибьютерами напрямую
                  .col-lg-6.col-md-12.col-sm-6.col-12
                    .about__block.about__block--4
                      div
                        img(src="./images/img-about-4.svg", alt="")
                      div
                        p Организуем поставку от ближайшего дистрибьютера

            .col-md-6
              .about__info.about__info--form
                form(action="#!").form
                  fieldset
                    .row
                      .col-lg-6.col-sm-6
                        .form-group
                          label(for="questionName").d-none Ваше имя
                          input.form-control#questionName(type='text' placeholder='Ваше имя')
                      .col-lg-6.col-sm-6
                        .form-group
                          label(for="questionEmail").d-none E mail
                          input.form-control#questionEmail(type='text' placeholder='E mail')
                    .form-group
                      label(for='questionMessage').d-none Ваш вопрос
                      textarea.form-control#questionMessage(rows="4" aria-describedby='vinMessage' placeholder='Ваш вопрос')
                    button.btn.btn-primary.btn-block(type='submit') Отправить

                    label.form-check.form-check--small(for='defaultCheck2').nowrap-md
                      input.form-check-input#defaultCheck2(type='checkbox' checked)
                      span.form-check-icon
                      span.form-check-label
                        a(href="#!" target="_blank") С политикой конфиденциальности ознакомлен(а)

    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")