$primary-color: #535353;
$primary-color-dark: #232323;

$link-color: #f58220;

$color-white: #ffffff;
$color-gray: #cccccc;
$color-black: #000000;
$color-red: red;
$color-pink: pink;
$color-orange: #f58220;
$color-dark: #363636;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-dinpro: 'DIN Pro';
$font-ionicons: 'Ionicons';