/* forms */

legend {
  text-align: center;
  font-size: 18px;
  display: block;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  border-radius: 0;
  height: 40px;
  font-family: $font-dinpro;
  font-size: 14px;
}
.btn {
  border-radius: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  &-lg {
    font-size: 18px;
  }
}