doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Masuma' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    // Slider
    .main-slider
      .main-slider__init
        div
          .main-slider__block(style="background-image: url('./tmp/main-slide-2.png');")
        div
          .main-slider__block(style="background-image: url('./tmp/main-slide-1.png');")

    // Content
    .content
      .container

        .search
          +searchBody

        // Category
        .category
          .row
            .col-md-4
              .category__block
                .category__block-wrapper
                  .category__block-title автоэлектрика
                  img(src="./images/category-icon-1.svg", alt="").category__block-img
                  nav.category__block-list
                    ul
                      li: a(href="#!") Домкраты и упоры
                      li: a(href="#!") Измерительный инструмент
                      li: a(href="#!") Манометры
                      li: a(href="#!") Компрессоры
                      li: a(href="#!") Ручной инструмент
                      li: a(href="#!") Ключи
                      li: a(href="#!") Наборы
                      li: a(href="#!") Отвертки
            .col-md-4
              .category__block
                .category__block-wrapper
                  .category__block-title Инструменты
                  img(src="./images/category-icon-2.svg", alt="").category__block-img
                  nav.category__block-list
                    ul
                      li: a(href="#!") Домкраты и упоры
                      li: a(href="#!") Измерительный инструмент
                      li: a(href="#!") Манометры
                      li: a(href="#!") Компрессоры
                      li: a(href="#!") Ручной инструмент
                      li: a(href="#!") Ключи
                      li: a(href="#!") Наборы
                      li: a(href="#!") Отвертки
            .col-md-4
              .category__block
                .category__block-wrapper
                  .category__block-title Материалы для шиномонтажа
                  img(src="./images/category-icon-3.svg", alt="").category__block-img
                  nav.category__block-list
                    ul
                      li: a(href="#!") Домкраты и упоры
                      li: a(href="#!") Измерительный инструмент
                      li: a(href="#!") Манометры
                      li: a(href="#!") Компрессоры
                      li: a(href="#!") Ручной инструмент
                      li: a(href="#!") Ключи
                      li: a(href="#!") Наборы
                      li: a(href="#!") Отвертки
            .col-md-4
              .category__block
                .category__block-wrapper
                  .category__block-title Дворники
                  img(src="./images/category-icon-4.svg", alt="").category__block-img
                  nav.category__block-list
                    ul
                      li: a(href="#!") Домкраты и упоры
                      li: a(href="#!") Измерительный инструмент
                      li: a(href="#!") Манометры
                      li: a(href="#!") Компрессоры
                      li: a(href="#!") Ручной инструмент
                      li: a(href="#!") Ключи
                      li: a(href="#!") Наборы
                      li: a(href="#!") Отвертки
            .col-md-4
              .category__block
                .category__block-wrapper
                  .category__block-title Трансмиссия и ходовая часть
                  img(src="./images/category-icon-5.svg", alt="").category__block-img
                  nav.category__block-list
                    ul
                      li: a(href="#!") Домкраты и упоры
                      li: a(href="#!") Измерительный инструмент
                      li: a(href="#!") Манометры
                      li: a(href="#!") Компрессоры
                      li: a(href="#!") Ручной инструмент
                      li: a(href="#!") Ключи
                      li: a(href="#!") Наборы
                      li: a(href="#!") Отвертки
            .col-md-4
              .category__block
                .category__block-wrapper
                  .category__block-title фильтры
                  img(src="./images/category-icon-6.svg", alt="").category__block-img
                  nav.category__block-list
                    ul
                      li: a(href="#!") Домкраты и упоры
                      li: a(href="#!") Измерительный инструмент
                      li: a(href="#!") Манометры
                      li: a(href="#!") Компрессоры
                      li: a(href="#!") Ручной инструмент
                      li: a(href="#!") Ключи
                      li: a(href="#!") Наборы
                      li: a(href="#!") Отвертки
            .col-md-4
              .category__block
                .category__block-wrapper
                  .category__block-title топливная система
                  img(src="./images/category-icon-7.svg", alt="").category__block-img
                  nav.category__block-list
                    ul
                      li: a(href="#!") Домкраты и упоры
                      li: a(href="#!") Измерительный инструмент
                      li: a(href="#!") Манометры
                      li: a(href="#!") Компрессоры
                      li: a(href="#!") Ручной инструмент
                      li: a(href="#!") Ключи
                      li: a(href="#!") Наборы
                      li: a(href="#!") Отвертки
            .col-md-4
              .category__block
                .category__block-wrapper
                  .category__block-title автомобильные крепления
                  img(src="./images/category-icon-8.svg", alt="").category__block-img
                  nav.category__block-list
                    ul
                      li: a(href="#!") Домкраты и упоры
                      li: a(href="#!") Измерительный инструмент
                      li: a(href="#!") Манометры
                      li: a(href="#!") Компрессоры
                      li: a(href="#!") Ручной инструмент
                      li: a(href="#!") Ключи
                      li: a(href="#!") Наборы
                      li: a(href="#!") Отвертки
            .col-md-4
              .category__block
                .category__block-wrapper
                  .category__block-title Двигатель и составляющие
                  img(src="./images/category-icon-9.svg", alt="").category__block-img
                  nav.category__block-list
                    ul
                      li: a(href="#!") Домкраты и упоры
                      li: a(href="#!") Измерительный инструмент
                      li: a(href="#!") Манометры
                      li: a(href="#!") Компрессоры
                      li: a(href="#!") Ручной инструмент
                      li: a(href="#!") Ключи
                      li: a(href="#!") Наборы
                      li: a(href="#!") Отвертки

        // News
        .news
          .row
            .col-lg-3.col-md-12
              .news__head Новости компании и отрасли, а так же акции наших партнеров
              .news__filter
                p отфильтровать вывод:
                a(href="#!" data-filter="filterNews").a.a--filter новости
                a(href="#!" data-filter="filterActions").a.a--filter.a--action Акция
            .filter.filterNews.col-lg-3.col-md-6
              .news__block
                .news__block-label Новости
                .news__block-thumb
                  img(src="./tmp/news/news-img-1.png", alt="")
                .news__block-content
                  .news__block-title Хэтчбек Hyundai после рестайлинга стал мощнее и дальнобойнее 
                  p В Сеть выложили фотографию нового члена семейства Ceed без какого-либо камуфляжа. Публичная премьера паркетника может состояться этой осенью.
                .news__block-info
                  div 
                    i.ion-eye
                    | 10
                    span.span
                    i.ion-thumbsup
                    | 250  
                  div
                    time 01.05.2019
            .filter.filterNews.col-lg-3.col-md-6
              .news__block
                .news__block-label Новости
                .news__block-thumb
                  img(src="./tmp/news/news-img-2.png", alt="")
                .news__block-content
                  .news__block-title Превратившийся в кроссовер Kia Ceed: больше и выше, но только с передним приводом 
                  p В Сеть выложили фотографию нового члена семейства Ceed без какого-либо камуфляжа. Публичная премьера паркетника может состояться этой осенью.
                .news__block-info
                  div
                    i.ion-eye
                    | 10
                    span.span
                    i.ion-thumbsup
                    | 250
                  div
                    time 01.05.2019
            .filter.filterActions.col-lg-3.col-md-6
              .news__block.last
                .news__block-label.news__block-label--action Акция
                .news__block-thumb
                  img(src="./tmp/news/news-img-3.png", alt="")
                .news__block-content
                  .news__block-title Original Meet: лучшие классические и кастомные автомобили и мотоциклы 
                  p В Сеть выложили фотографию нового члена семейства Ceed без какого-либо камуфляжа. Публичная премьера паркетника может состояться этой осенью.
                .news__block-info
                  div
                    i.ion-eye
                    | 10
                    span.span
                    i.ion-thumbsup
                    | 250
                  div
                    time 01.05.2019
      
    // About
    .section.about
      .container

        .row
          .col-md-6
            .section__head
              .h1.nowrap-md о компании 
              .small.nowrap-md // Японское качество по доступной цене!

            .about__row
              .row
                .col-lg-6.col-md-12.col-sm-6.col-12
                  .about__block.about__block--1
                    div
                      img(src="./images/img-about-1.svg", alt="")
                    div
                      p Мы ответим на все ваши вопросы о продукции 
                .col-lg-6.col-md-12.col-sm-6.col-12
                  .about__block.about__block--2
                    div
                      img(src="./images/img-about-2.svg", alt="")
                    div
                      p Поможем в формировании заказа 
                .col-lg-6.col-md-12.col-sm-6.col-12
                  .about__block.about__block--3
                    div
                      img(src="./images/img-about-3.svg", alt="")
                    div
                      p Вы сможете работать с дистрибьютерами напрямую
                .col-lg-6.col-md-12.col-sm-6.col-12
                  .about__block.about__block--4
                    div
                      img(src="./images/img-about-4.svg", alt="")
                    div
                      p Организуем поставку от ближайшего дистрибьютера

          .col-md-6
            .about__info
              p Сегодня компания MASUMA размещает заказ на изготовление деталей под собственным брендом на 80 заводах - производителях запчастей. Сейчас это уже 45 групп товара и около 8000 наименований. 
              p Ежегодно вводится до 500 новых позиций и 2-3 новые группы. В этом году список товаров пополнился тормозными дисками и ступенчатыми узлами. 
                a(href="#!") Подробнее

    // Map
    .section.main-map
      .container

        .main-map__tab
          ul(role="tablist").nav
            li
              a#map1-tab.active(data-toggle="tab" href="#map1" role="tab" aria-controls="map1" aria-selected="true") 
                span 
                  i.ion-ios-toggle
                  | Главный офис 
            li
              a#map2-tab(data-toggle="tab" href="#map2" role="tab" aria-controls="map2" aria-selected="false") 
                span Магазины

          .main-map__office.j-map-tab.is-active
            .main-map__office-title Связаться с нами:
            .main-map__office-address г.Киев, ул. Марко Вовчок, 12/14
            p +380 98 765 43 21
              br
              | +380 66 765 43 21  
              span(style="color: #777777; font-size: 14px;") (Telegram & Viber)
            p
              a(href="#!") info@site_name.pro
      
      .tab-content.tab-content--main-map
        #map1.tab-pane.active(role='tabpanel' aria-labelledby='map1-tab')

          .map__wrapper
            img(src="./images/map-logo.png", alt="").map__wrapper-logo
            img(src="./tmp/main-map-bottom-1.png", alt="")  

        #map2.tab-pane(role='tabpanel' aria-labelledby='map2-tab')
          
          .map__wrapper
            .map__wrapper-marker
              img(src="./images/map-icon.png", alt="")
              .map__wrapper-modal
                .map__wrapper-modal-title ooo “евроавтоконсалтинг”
                .map__wrapper-modal-address г.Киев, ул. Петра Горошенка, 12/1
                p
                  a(href="tel:") +380 98 765 43 21
                  br
                  a(href="tel:") +380 66 765 43 21
                p
                  a(href="mailto:") www.euro1autoco.pro
            img(src="./tmp/main-map-bottom-1.png", alt="")

    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")